* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: medium;
    background: black;
}

.header {
        display: table;
        margin: 0 auto;
        margin-bottom: 20px;
}

li {
    float: left;
}

a {
    display: inline-block;     
    text-decoration: none;
    padding: 20px 30px;
    color: white;
}

.Titreacheter {
    color: white;
    font-size: 30px;
    padding-left: 50px;
    font-weight: bold;
    padding-top: 50px;
}

.img1 {
    padding-left: 50px;
}

.X {
    padding-top: 50px;
    padding-left: 130px;
    color: white;
}

.Y {
    color: white;
    padding-left: 125px;
    padding-top: 50px;
    
}